{% extends 'web/base.html' %} {% block content %}
{% load static %}

<!-- content -->
<div class="container-fluid mt-4" style="max-width: 800px">
<div class="row">
  <div class="col-12 col-md-6 me-md-0 pe-md-0">
      <img src="{% static 'web/assets/img/chopping_feature1.jpg' %}" alt="" class="img-fluid">
  </div>
  <div class="col-12 col-md-6 ms-md-0 ps-md-0">
      <img src="{% static 'web/assets/img/chopping_feature2.jpg' %}" alt="" class="img-fluid">
  </div>
</div>
<div class="mt-2">
  <img src="{% static 'web/assets/img/product_chopping_board.jpg' %}" alt="" class="img-fluid">
</div>
<div class="text-center">
  <h2>部落客推薦</h2>
  <p>↓↓點圖可看完整文章↓↓</p>
</div>
<div class="my-4">
  <a href="https://kindoflife.blog/2019/08/12/%e5%86%8d%e8%a6%8b%e4%ba%86%e8%8f%87%e8%8f%87%e5%80%91%ef%bc%81-%e5%93%81%e5%b9%b8%e7%a6%8f%e8%b6%85%e6%8a%97%e8%8f%8c%e6%9c%a8%e7%ba%96%e7%b6%ad%e7%a0%a7%e6%9d%bf/" target="_blank">
    <img src="{% static 'web/assets/img/testimonial_01.png' %}" alt="" class="img-fluid">
  </a>
</div>
<div class="my-4">
  <a href="https://jackla39.pixnet.net/blog/post/468048764" target="_blank">
    <img src="{% static 'web/assets/img/testimonial_02.png' %}" alt="" class="img-fluid">
  </a>
</div>
<div class="my-4"> 
  <a href="http://kkoko0620.blogspot.com/2019/08/blog-post_20.html" target="_blank">
    <img src="{% static 'web/assets/img/testimonial_03.png' %}" alt="" class="img-fluid">
  </a>
</div>
<div class="my-4">
  <a href="https://fresh438.pixnet.net/blog/post/44591352%E3%80%82?fbclid=IwAR2Q6egR89y2mku56cj25IQ-LbN6EhTaBbgfjDhIsPquftNfOw97VlUNezA" target="_blank">
    <img src="{% static 'web/assets/img/testimonial_04.png' %}" alt="" class="img-fluid">
  </a>
</div>
<div class="text-center mt-6">
  <h2>SGS、台美科技檢驗</h2>
</div>
<div class="my-2">
  <img src="{% static 'web/assets/img/test_report.jpg' %}" alt="" class="img-fluid">
</div>
<div class="my-2">
  <img src="{% static 'web/assets/img/before_purchase.png' %}" alt="" class="img-fluid">
</div>
<div class="text-center my-6">
  <a href="https://market.icook.tw/products/lifehappiness" class="buy-button">立刻選購</a>
</div>
</div>

    
{% endblock %}