{% extends 'web/base.html' %} {% block content %}
{% load static %}

<!-- content -->
<div class="container-fluid mt-4 mb-6" style="max-width: 800px">
  <div class="my-4 px-4">
    <h4>購物說明</h4>
    <p>品幸福官網已取消會員及下單功能，如需購買商品，請前往<a href="https://market.icook.tw/products/lifehappiness" target="_blank"><b>【愛料理市集】</b></a>下單。</p>
    <ul class="txt-indent">
        <li>・商品優惠、折扣等以愛料理發布活動為準</li>
        <li>・購物相關問題(如電子發票、退換貨等)，請聯繫 <a href="https://www.facebook.com/icookmarket" target="_blank"> <span class="url-text">愛料理客服</span></a>。</li>
    </ul>
  </div>

  <div class="my-4 px-4">
    <h4>退換貨說明</h4>
    <ul class="txt-indent">
        <li>・商品提供七天鑑賞期，如商品拆封即不可退換貨。</li>
        <li>・組合商品如有退貨需求，可退未拆封商品，依組合價格扣除未退貨商品之零售價後退款。例如：砧板組合價格為 $1290 ，若退貨大砧板，則 $1290 - $590(小砧板零售價) = $700，即退 700 元。</li>
    </ul>
  </div>
  
  <div class="my-4 px-4">
    <h4>運費&運送方式</h4>
    <p>以【宅配通】配送，約2～3個工作天到貨(不含週末及國定例假日)，不得寄送郵政信箱。
        您的收件姓名、電話、地址務必填寫完整，以免耽誤收貨時間。</p>
    <p>台灣本島：消費滿 $890 免運，未滿酌收 $80 運費。 <br>
        外島地區：外島另收運費，請您下單前務必先聯繫<a href="https://www.facebook.com/icookmarket" target="_blank"> <b>愛料理客服</b>  </a>或<a href="https://lin.ee/EyqwvyH" target="_blank"> <b>品幸福客服</b>  </a>。</p>
  </div>
</div>

{% endblock %}
